
.cart-page {
  width: 500px;
  position: fixed;
  top: 0;
  right: -500px;
  bottom: 0;
  max-width: 100%;
  padding: 0 20px;
  z-index: 1001;
  background-color: #ffffff;
  transition: ease 0.5s;
  color: rgba(138, 27, 27, 1);
}

.cart-page .title {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid rgba(138, 27, 27, 1); */
}

.cart-page .title i {
  font-weight: 900;
  font-size: 1.5rem;
}

.cart-page .item {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(138, 27, 27, 1);
}

.cart-page .item img {
  width: 65px;
  height: 65px;
}

.cart-page a {
  color: rgba(138, 27, 27, 1);
}

.cart-page .item .item-quatity {
  display: flex;
}

.cart-page .item .info-item > p {
  width: 200px;
  font-weight: 500;
  margin-bottom: 0;
}

.cart-page .sum {
  display: flex;
  justify-content: space-between;
}

.cart-page button {
  background-color: #440303;
  color: #ffffff;
  width: 135px;
  height: 40px;
  border-radius: 50px;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  margin-left: 150px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
