.register {
    background-image: url(../img/banner.webp);
    height: 250px;
    background-size: cover;
    background-position-y: -100px;

    padding: 80px 0;
  }
  
  .register h2 {
    font-weight: 600;
    font-size: 24px;

    color: #ffffff;

    padding-left: 80px;
  }
  
  .register form {
      padding-left: 80px;
  }
  
  .register input {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-right: 30px;

    text-align: center;
  }
  
  .register button {
    background-color: #440303;
    color: #ffffff;

    border-radius: 50px;
    width: 160px;
    height: 40px;
    border: none;
    
    text-transform: uppercase;
    text-align: center;
  }

footer {
  background-color: rgba(138, 27, 27, 0.2);
  padding-bottom: 30px;
}

footer .logo-image {
  font-size: 4rem;
  text-align: center;

  color: #440303;

  padding-top: 50px;
}

footer .logo-image a {
  color: #440303;
}

footer .logo-name {
    font-family: 'Caveat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    color: #440303;

    margin-top: 20px;
}

footer h2 {
    font-size: 1.25rem;
    font-weight: 600px;
    text-align: center;

    color: #440303;
    
    padding: 30px 0 12px;
}

footer .link {
    text-align: center;
    margin: 10px auto;
    width: 230px;
}

footer .link a {
    font-size: 1rem;
    text-decoration: none;

    color: #440303;
}

footer a:hover {
    color: rgba(138, 27, 27, 0.6);
}

@media (max-width: 992px) {
  .register {
    background-position-y: -50px;
  }
}

@media (max-width: 756px) {
  .register {
    background-position-y: -30px;
  }
}

@media (max-width: 576px) {
  .register form {
    padding-left: 50px;
  }

  .register h2 {
    padding-left: 50px;
  }

  .register {
    background-position-y: -1px;
  }

  .register button {
    margin-top: 16px;
  }
}

