
header .name-shop {
  font-family: "Caveat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;

  color: #8a1b1b;
}

header .logo {
  display: flex;
}

header .navbar {
  margin: 0 30px;

  display: flex;
  flex-wrap: nowrap;
}

header .navbar .logo i {
  color: #8a1b1b;
  font-size: 2.5rem;

}

header .navbar ul {
  padding-top: 12px;
 
  display: flex;
}

header .navbar ul li {
  list-style: none;
  text-transform: uppercase;
}

header .navbar ul li a {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-decoration: none;

  color: rgba(138, 27, 27, 0.6);

  margin: 0 15px;
}

header .navbar ul li a:hover {
  color: #8a1b1b;
}

header .navbar .icon {
  display: flex;
}

header .navbar .icon i {
  color: #8a1b1b;

  font-size: 2rem;

  margin: 0 15px;
}

header .navbar .icon .cart {
  position: relative;

  padding: 0 15px;
}

header .navbar .icon .cart .item-quantity {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;

  background-color: #8a1b1b;
  color: #ffffff;

  width: 18px;
  border-radius: 5px;

  position: absolute;
  top: -10px;
  left: 35px;
}

header .navbar .icon .box-search i {
  display: none;
}

header .navbar .icon .box-search input {
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 50px;
  border: none;
  border: 1px solid rgba(138, 27, 27, 0.2);

  background-color: rgba(138, 27, 27, 0.2);
  color: #8a1b1b;
}

header .navbar .icon .cart i {
  margin: 0;
}

header .navbar .icon .login i {
  margin: 0 0 0 10px;
}

.menu-icon, .close-menu {
  display: none;
  cursor: pointer;
  padding: 10px 0 0 170px;
}

.background-menu {
  width: 200px;
  height: 75px;

  background-image: url(../img/Rectangle\ 116.png);
  background-size: cover;

  display: none;
}

.login-page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.8);
  
  display: none;
  z-index: 100;

  transform-origin: center;
  transition: all ease 0.35s 0.1s;

  text-align: center;
  align-items: center;
}

.login-form > i {
  position: absolute;
  left: 300px;
  top: 0;
}

.light1 {
  background-color:	rgba(0, 0, 0, 0.8);
  transition: ease 0.35s;
}

.show1 {
  display: block;
}

.login-page h2,
.register-page h2 {
  color: #8a1b1b;
}

.login-form {
  width: 350px;
  height: 420px;
  margin: 100px auto;
  padding: 30px;

  position: relative;
 
  font-size: 1.25rem;

  background-color: #ffffff;
  
}

.login-page i,
.register-page i {
  color: #8a1b1b;
}

.form {
  display: flex;
}

.login-page input {
  border: none;
  border-bottom: 1px solid #8a1b1b;
  margin: 0 0 20px 20px;
}

.btn-main {
  background-color: #440303;
  color: #ffffff;

  width: 160px;
  height: 40px;
  border-radius: 50px;
  margin-left: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;

  font-size: 1.25rem;
  cursor: pointer;
  text-transform: uppercase;
}

.register-page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 100;
 
  transform-origin: center;
  transition: all ease 0.35s 0.1s;

  text-align: center;
  align-items: center;
}

.register-form > i {
  position: absolute;
  left: 300px;
  top: 0;
}

.register-form {
  width: 350px;
  height: 420px;
  margin: 100px auto;
  padding: 30px;

  position: relative;
  
  font-size: 1.25rem;

  background-color: #ffffff;
}

.register-page input {
  border: none;
  border-bottom: 1px solid #8a1b1b;
  margin: 0 0 20px 20px;
}

.btnRegister, .btn-close-register {
  border: none;
  border-bottom: 1px solid #440303;

  color: #440303;
  background-color: #ffffff;
}

.light2 {
  background-color: rgba(0, 0, 0, 0.1);
  transition: ease 0.35s;
}

.show2 {
  /* transform: scale(1); */
  display: block;
}


@media (max-width: 1200px) {

  header .navbar .logo i {
    margin-top: 0;
  }

  header .name-shop {
    display: none;
  }

  header .navbar .icon .box-search input {
    display: none;
  }

  header .navbar .icon .box-search i {
    font-size: 1.85rem;
    display: block;
    margin: 0;
    padding: 4px 5px 0px 0px;
  }
}

@media (max-width: 992px) {
  header .navbar ul li a {
    margin: 0 5px;
    font-size: 1.1rem;
  }

  header .navbar .logo i {
    font-size: 2rem;
  }

  header .navbar .icon .cart {
    padding: 0;
  }

  header .navbar .icon .cart .item-quantity {
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;

    background-color: #8a1b1b;

    width: 15px;
    border-radius: 5px;

    position: absolute;
    top: -10px;
    left: 15px;
  }

  header .navbar {
    margin: 0 20px;
  }

  header .navbar .icon i {
    margin: 0 5px;
    font-size: 1.75rem;
  }

  header .navbar .icon .box-search i {
    font-size: 1.5rem;
  }
}

@media (max-width: 756px) {
  header .navbar {
    padding: 20px 0;
  }

  header .navbar .icon .cart .item-quantity {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;

    background-color: #8a1b1b;

    width: 15px;
    border-radius: 5px;

    position: absolute;
    top: -12px;
    left: 15px;
  }

  header .navbar .logo i {
    font-size: 2rem;
  }

  header .navbar .icon i {
    font-size: 1.5rem;
  }

  .box-search span {
    display: none;
  }

  header .navbar {
    position: relative;
    margin: 0 20px;
  }

  .menu-icon {
    display: inline-block;
    font-size: 1.5rem;
    color: #8a1b1b;
    padding: 0;
  }

  header .navbar .logo {
    position: absolute;
    left: 50%;
  }

  header .navbar .icon .box-search i {
    font-size: 1.3rem;
    display: block;
    margin: 0;
    padding: 4px 5px 0px 0px;
  }

  header .navbar ul {
    position: fixed;
    top: 0;
    left: -200px;

    width: 200px;
    height: 100vh;
    overflow: hidden;

    background-color: #ffffff;
    color: rgba(138, 27, 27, 1);

    transition: all 0.3s;

    z-index: 1001;
    flex-direction: column;
    padding: 0;
  }

  header .navbar ul li {
    padding: 10px 30px;
  }

  header .navbar .icon .cart {
    position: relative;
    padding: 0;
  }

  .background-menu {
    background-image: url(../img/Rectangle\ 116.png);
  }
}
