.path {
  /* margin: 0 auto 30px; */
  display: flex;
  background-color: rgba(138, 27, 27, 0.1);
}

.path i {
  display: none;
}

.path .path-detail {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0 0 0 30px;
  padding: 10px 0;
}

section {
  margin: 0 48px;
}

section .filter .title h4 {
  color: #ffffff;
  background-color: rgba(68, 3, 3, 1);
  border-radius: 5px 5px 0px 0px;
  padding: 15px 0 15px 30px;
}

section .filter .arrange-price > p, section .filter-arrange .content-filter > p {
  padding-left: 30px;
}

.arrange-price {
  display: flex;
  position: relative;
}

section .card-item {
  /* width: 274px; */
  transition: all 0.5s;
  border-radius: 5px;
  /* padding-right: 12px; */
  z-index: 1000;
}

section .card-item:hover {
  transform: scale(1.01);
}

section .card-item .image {
  margin: 0px;
}

section .card-item .card-content .info > p {
  font-size: 1rem;
  margin-bottom: 0;
}

section .card-item .card-content .info {
  padding: 0 10px 10px;
}

section .card-item .card-content > p {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 0;
}

section .card-item .card-content .info {
  color: #aa0505;
}

section .card-item .card-content .info {
  display: flex;
  justify-content: space-between;
}

section .card-item .card-content .buy-now {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

section .card-item:hover .buy-now {
  background-color: rgba(138, 27, 27, 0.2);
  color: #440303;
}

section .card-item:hover .buy-now p {
  color: #440303;
}

section .card-item .card-content .buy-now i {
  font-size: 1.5rem;
  padding-top: 16px;
}

section .card-item .card-content .buy-now p {
  padding: 5px 10px 0;
  margin-bottom: 0px;
}

section .card-item .card-content .buy-now a {
  color: #000000;
  padding-top: 15px;
}

section .card-item:hover i {
  color: #440303;
}

section button {

  background-color: #ffffff;
  color: #440303;

  font-size: 1.25rem;
  
  border-radius: 50px;
  border: none;
  cursor: pointer;
  padding: 8px 24px;
  border: 1px solid #440303;

  margin-left: 48px;
}

.option-price {
  display: none;
  position: absolute;
  top: 25px;
  left: 30px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #000000;
  padding: 5px 20px;
}

.option-price p {
  margin: 0;
}
/* .page-link:nth-child(2) {
    background-color: #440303;
    color: #ffffff;
}

.pagination {
    margin-bottom: 34px;
} */

a {
  text-decoration: none;
}

@media (max-width: 1200px) {
  section {
    margin: 0 24px;
  }
}

@media (max-width: 992px) {
  section {
    margin: 0 30px;
  }
}

@media (max-width: 768px) {
  .path i {
    display: block;
    margin: 0 0 0 20px;
    font-size: 1.5rem;
    padding-top: 8px;
    color: #8a1b1b;
  }

  section .filter {
    position: absolute;
    top: -45px;
    left: 30px;
    width: 30%;
    display: none;
    z-index: 1001;
    background-color: #ffffff;
    color: #000000;
  }

  section {
    position: relative;
    margin: 0 24px;
  }
}

@media (max-width: 576px) {
  section .filter {
    width: 40%;
  }

  section {
    margin: 50px 0 0 0;
  }

  section button {
    margin-left: 24px;
  }
}
